<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Online Boutique</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
            crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/static/styles/styles.css}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/static/styles/cart.css}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/static/styles/order.css}"
        />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            th:href="@{/static/favicon.ico}"
        />
    </head>
    <body>
        <header th:fragment="navbar">
            <div class="navbar sub-navbar">
                <div class="container d-flex justify-content-between">
                    <a
                        th:href="@{/}"
                        class="navbar-brand d-flex align-items-center"
                    >
                        <img
                            th:src="@{/static/yugabyte_logo.png}"
                            alt="yugabyteDB"
                            class="top-left-logo"
                            style="height: 32px; width: auto"
                        />
                        <span
                            style="
                                font-size: 20px;
                                font-weight: 700;
                                color: #333;
                                margin-left: 10px;
                            "
                            >Online Boutique</span
                        >
                    </a>
                    <div class="controls d-flex align-items-center">
                        <!-- User account links -->
                        <div
                            class="d-flex align-items-center mr-3"
                            style="font-size: 13px"
                        >
                            <th:block th:if="${logged_in_user != null}">
                                <span
                                    style="color: #444"
                                    th:text="${logged_in_user.fullName()}"
                                    >User</span
                                >
                                <span style="color: #999; margin: 0 6px"
                                    >|</span
                                >
                                <a
                                    th:href="@{/profile}"
                                    style="color: #555; text-decoration: none"
                                    >Profile</a
                                >
                                <span style="color: #999; margin: 0 6px"
                                    >|</span
                                >
                                <a
                                    th:href="@{/orders}"
                                    style="color: #555; text-decoration: none"
                                    >Orders</a
                                >
                                <span style="color: #999; margin: 0 6px"
                                    >|</span
                                >
                                <a
                                    th:href="@{/logout}"
                                    style="color: #555; text-decoration: none"
                                    >Sign Out</a
                                >
                            </th:block>
                            <th:block th:if="${logged_in_user == null}">
                                <a
                                    th:href="@{/login}"
                                    style="color: #555; text-decoration: none"
                                    >Sign In</a
                                >
                            </th:block>
                        </div>

                        <div class="h-controls" th:if="${show_currency}">
                            <div class="h-control">
                                <span
                                    class="icon currency-icon"
                                    th:text="${user_currency == 'USD' || user_currency == 'CAD' ? '$' :
                                         user_currency == 'JPY' ? '\u00A5' :
                                         user_currency == 'EUR' ? '\u20AC' :
                                         user_currency == 'TRY' ? '\u20BA' :
                                         user_currency == 'GBP' ? '\u00A3' : '$'}"
                                    >$</span
                                >
                                <form
                                    method="POST"
                                    class="controls-form"
                                    th:action="@{/setCurrency}"
                                    id="currency_form"
                                >
                                    <select
                                        name="currency_code"
                                        onchange="
                                            document
                                                .getElementById('currency_form')
                                                .submit()
                                        "
                                    >
                                        <option
                                            th:each="c : ${currencies}"
                                            th:value="${c}"
                                            th:text="${c}"
                                            th:selected="${c == user_currency}"
                                        >
                                            USD
                                        </option>
                                    </select>
                                </form>
                                <img
                                    th:src="@{/static/icons/Hipster_DownArrow.svg}"
                                    alt=""
                                    class="icon arrow"
                                />
                            </div>
                        </div>
                        <a th:href="@{/cart}" class="cart-link">
                            <img
                                th:src="@{/static/icons/Hipster_CartIcon.svg}"
                                alt="Cart icon"
                                class="logo"
                                title="Cart"
                            />
                            <span
                                class="cart-size-circle"
                                th:if="${cart_size != null && cart_size > 0}"
                                th:text="${cart_size}"
                                >0</span
                            >
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>
