<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head}"></head>
<body>
<header th:replace="~{header :: navbar}"></header>

<main role="main">
    <div class="h-product container">
        <div class="row">
            <div class="col-md-6">
                <img class="product-image" alt="" th:src="@{${product.item().picture()}}">
            </div>
            <div class="product-info col-md-5">
                <div class="product-wrapper">
                    <h2 th:text="${product.item().name()}">Product Name</h2>
                    <p class="product-price" th:text="${product.renderedPrice()}">$0.00</p>
                    <p th:text="${product.item().description()}">Description</p>

                    <form method="POST" th:action="@{/cart}">
                        <input type="hidden" name="product_id" th:value="${product.item().id()}">
                        <div class="product-quantity-dropdown">
                            <select name="quantity" id="quantity">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>10</option>
                            </select>
                            <img th:src="@{/static/icons/Hipster_DownArrow.svg}" alt="">
                        </div>
                        <button type="submit" class="cymbal-button-primary">Add To Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${recommendations != null && !recommendations.isEmpty()}">
        <div th:replace="~{recommendations :: recommendations}"></div>
    </div>
</main>

<footer th:replace="~{footer :: footer}"></footer>
</body>
</html>
